.container {
  color: var(--color-text-light);
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  height: 100dvh;

  @media (min-width: 768px) {
    padding: 3.125rem;
  }
}

.content {
  text-align: center;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-text-light);
  font-family: "Cinderblock", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2rem;
  font-size: 32vw;
  opacity: 0;
  word-spacing: 20px;
  letter-spacing: 5px;
  transition: opacity 0.3s ease;
  display: inline-block;
  vertical-align: top;
  margin-top: -10rem;
  z-index: 3;
}

.description {
  color: var(--color-description);
  font-family: "Suisse Int'l", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 2rem;
  text-align: left;
  font-size: 1.5vw;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: var(--title-width);
  max-width: var(--title-width);
  z-index: 3;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: var(--color-accent);
  gap: 3rem;
  margin-top: 2rem;
  position: fixed;
  bottom: 3.3rem;
  right: 5rem;
  p {
    text-align: center;
    font-family: "Suisse Int'l", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* Hide initially */
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  @media (max-width: 768px) {
    gap: 1.5rem;
    margin-top: 1.5rem;
  }

  @media (max-width: 480px) {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}

.title {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  pointer-events: none;
}
